<!-- blog single -->
<div class="blog-single segments-page">
  <div class="container">
    <div class="content-head">
      <img src="assets/images/blog1.jpg" alt="">
      <div class="text">
        <h4>Supported Children's Learning</h4>
        <p class="date">December 28, 2018</p>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolore culpa reprehenderit nostrum deleniti harum at assumenda, optio debitis sit amet corrupti dolor modi asperiores id soluta ratione eum. Eos, enim!</p>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Fuga consequatur perferendis numquam aspernatur tempora quis, dolorem possimus id!</p>
      </div>
    </div>
    <div class="content-tag">
      <ul>
        <li><a href="#!">Child</a></li>
        <li><a href="#!">Coloring</a></li>
        <li><a href="#!">Cute</a></li>
        <li><a href="#!">Book</a></li>
        <li><a href="#!">Smooth</a></li>
        <li><a href="#!">Learn</a></li>
        <li><a href="#!">Happy</a></li>
      </ul>
    </div>
    <div class="author">
      <img src="assets/images/author.png" alt="">
      <div class="text">
        <h5>Luis Devian</h5>
        <span>Designer</span>
        <div class="wrap-social">
          <ul>
            <li><a href=""><i class="fab fa-facebook-f"></i></a></li>
            <li><a href=""><i class="fab fa-instagram"></i></a></li>
            <li><a href=""><i class="fab fa-twitter"></i></a></li>
            <li><a href=""><i class="fab fa-google"></i></a></li>
          </ul>
        </div>
      </div>
    </div>
    <div class="comment-people">
      <div class="wrap-title">
        <h5>Comment :</h5>
      </div>
      <div class="content">
        <img src="assets/images/comment1.png" alt="">
        <div class="text">
          <h6>John Smith</h6>
          <p class="date">December 28, 2018 <span><i class="fas fa-reply"></i>Reply</span></p>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quibusdam, qui?</p>
        </div>
      </div>
      <div class="content">
        <img src="assets/images/comment2.png" alt="">
        <div class="text">
          <h6>John Smith</h6>
          <p class="date">December 28, 2018 <span><i class="fas fa-reply"></i>Reply</span></p>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quibusdam, qui?</p>
        </div>
      </div>
      <div class="content">
        <img src="assets/images/comment3.png" alt="">
        <div class="text">
          <h6>John Smith</h6>
          <p class="date">December 28, 2018 <span><i class="fas fa-reply"></i>Reply</span></p>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quibusdam, qui?</p>
        </div>
      </div>
      <div class="content">
        <img src="assets/images/comment4.png" alt="">
        <div class="text">
          <h6>John Smith</h6>
          <p class="date">December 28, 2018 <span><i class="fas fa-reply"></i>Reply</span></p>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quibusdam, qui?</p>
        </div>
      </div>
    </div>
    <div class="comment-form">
      <div class="wrap-title">
        <h5>Leave Your Reply</h5>
      </div>
      <form>
        <input type="text" placeholder="Name">
        <input type="email" placeholder="Email">
        <textarea cols="30" rows="10" placeholder="Message"></textarea>
        <button class="button">Submit</button>
      </form>
    </div>
  </div>
</div>
<!-- end blog single -->
