<!-- blog -->
<div class="blog segments-page">
  <div class="container">
    <div class="content">
      <img src="assets/images/blog1.jpg" alt="">
      <div class="text">
        <a href="blog-single.html"><h4>Supported Children's Learning</h4></a>
        <p class="date">December 20, 2018</p>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sapiente harum ex omnis iste deserunt ullam.</p>
      </div>
      <div class="author">
        <img src="assets/images/testimonial1.png" alt="">
        <h6>Luis Devian</h6>
      </div>
    </div>
    <div class="content">
      <img src="assets/images/blog2.jpg" alt="">
      <div class="text">
        <a href="blog-single.html"><h4>Seminar With Expert</h4></a>
        <p class="date">December 28, 2018</p>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sapiente harum ex omnis iste deserunt ullam.</p>
      </div>
      <div class="author">
        <img src="assets/images/testimonial2.png" alt="">
        <h6>Al Adalson</h6>
      </div>
    </div>
    <div class="content">
      <img src="assets/images/blog3.jpg" alt="">
      <div class="text">
        <a href="blog-single.html"><h4>You Can Outdoor Learning</h4></a>
        <p class="date">December 05, 2019</p>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sapiente harum ex omnis iste deserunt ullam.</p>
      </div>
      <div class="author">
        <img src="assets/images/testimonial3.png" alt="">
        <h6>Jimmy</h6>
      </div>
    </div>
    <div class="content">
      <img src="assets/images/blog4.jpg" alt="">
      <div class="text">
        <a href="blog-single.html"><h4>With Complete Facilities</h4></a>
        <p class="date">December 11, 2019</p>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sapiente harum ex omnis iste deserunt ullam.</p>
      </div>
      <div class="author">
        <img src="assets/images/testimonial2.png" alt="">
        <h6>Brandon Aroy</h6>
      </div>
    </div>
    <div class="pagination">
      <li class="disabled"><a href="#!" class="active">1</a></li>
      <li><a href="#!">2</a></li>
      <li><a href="#!">3</a></li>
      <li><a href="#!">4</a></li>
      <li><a href="#!">5</a></li>
    </div>
  </div>
</div>
<!-- end blog -->
