<!-- The overlay -->
<div id="myNav" class="overlay">

  <!-- Button to close the overlay navigation -->
  <div class="row closebtn">
    <div class="col s4 offset-s8">
      <a href="javascript:void(0)" (click)="close()"><i class="fas fa-times fa-4x"></i></a>
    </div>
  </div>


  <!-- Overlay content -->
  <div class="overlay-content">
    <div class="row">
      <div class="col s12">
        <h2>Hi, my name is Muhammad</h2>
      </div>
    </div>
    <div class="row">
      <div class="col s12 m4 offset-m4">
        This site is a dynamic HTML site that makes it easier for you to get the game information including live scores,
        match results, teams and league tables from the top football leagues and competitions. I use Angular framework
        and Materialize for front-end pages and football-data.org for API. You can contact me through
        <a href="https://www.linkedin.com/in/mrach/" target="_blank">LinkedIn</a> and
        <a href="https://github.com/dyhaz" target="_blank">GitHub</a>.
      </div>
    </div>
  </div>

</div>
