<!-- popular course -->
<div class="popular-course segments">
  <div class="section-title">
    <h3>Promo <a href="#">view all <i class="fas fa-long-arrow-alt-right"></i></a></h3>
  </div>
  <div class="popular-slide owl-carousel owl-theme">
    <div class="content">
      <a href="#">
        <img src="assets/images/course1.jpg" alt="promo1">
        <div class="text">
          <span>null</span>
          <h4>#1</h4>
          <p>your text goes here</p>
        </div>
      </a>
    </div>
    <div class="content">
      <a href="#">
        <img src="assets/images/course2.jpg" alt="promo1">
        <div class="text">
          <span>null</span>
          <h4>#2</h4>
          <p>your text goes here</p>
        </div>
      </a>
    </div>
    <div class="content">
      <a href="course-single.html">
        <img src="assets/images/course3.jpg" alt="promo1">
        <div class="text">
          <span>null</span>
          <h4>#3</h4>
          <p>your text goes here</p>
        </div>
      </a>
    </div>
  </div>
</div>
<!-- end popular course -->
