<!-- popular course -->
<div class="popular-course segments">
  <div class="section-title">
    <h3>Popular Course <a href="course.html">view all <i class="fas fa-long-arrow-alt-right"></i></a></h3>
  </div>
  <div class="popular-slide owl-carousel owl-theme">
    <div class="content">
      <a href="course-single.html">
        <img src="assets/images/course1.jpg" alt="">
        <div class="text">
          <span>Computer</span>
          <h4>Web Design | Beginner</h4>
          <p>A wonderful serenity has taken possession of my entire soul, like these sweet adipisicing</p>
        </div>
      </a>
    </div>
    <div class="content">
      <a href="course-single.html">
        <img src="assets/images/course2.jpg" alt="">
        <div class="text">
          <span>Science</span>
          <h4>Science Technology</h4>
          <p>A wonderful serenity has taken possession of my entire soul, like these sweet adipisicing</p>
        </div>
      </a>
    </div>
    <div class="content">
      <a href="course-single.html">
        <img src="assets/images/course3.jpg" alt="">
        <div class="text">
          <span>computer</span>
          <h4>Digital Photography</h4>
          <p>A wonderful serenity has taken possession of my entire soul, like these sweet adipisicing</p>
        </div>
      </a>
    </div>
  </div>
</div>
<!-- end popular course -->
