<!-- popular course -->
<div class="popular-course segments">
  <div class="section-title">
    <h3>Standings</h3>
  </div>

  <!-- loading spinner -->
  <div class="content center-align" *ngIf="listComps.length === 0">
    <div class="text">
      <app-spinner [isActive]="listComps | isEmpty"></app-spinner>
    </div>
  </div>
  <!-- end loading spinner-->

  <div class="popular-slide owl-carousel owl-theme">
    <div class="content center-align" *ngFor="let comp of listComps">
        <div class="row">
          <a href="javascript:void(0)" (click)="navigate('/competition/' + comp.id)">
            <div class="col s4 offset-s4">
              <div class="image-frame">
                <img style="width: 100%;" src="{{ comp?.emblemUrl ? comp.emblemUrl : 'assets/images/emblems/smol/' + comp?.code + '.png' }}" alt="league logo">
              </div>
            </div>
          </a>

          <div class="col s12">
            <div class="divider"></div>
            <a href="javascript:void(0)" (click)="navigate('/competition/' + comp.id)">
              <div class="text">
                <span>{{ comp.area.name }}</span>
                <h4>{{ comp.name }}</h4>
              </div>
            </a>
            <app-spinner [isActive]="compDetail[comp.id] | isEmpty"></app-spinner>
            <app-standings [compDetail]="compDetail[comp.id]" maxTeams="5"></app-standings>
          </div>
        </div>
    </div>
  </div>
</div>
<!-- end popular course -->
