<!-- testimonial -->
<div class="testimonial segments">
  <div class="testimonial-slide owl-carousel owl-theme">
    <div class="content">
      <img src="assets/images/testimonial1.png" alt="">
      <div class="text">
        <h5>Andrea Gustavo</h5>
        <span>Teacher</span>
        <p>Consectetur adipisicing elit. Assumenda reprehenderit placeat deserunt esse</p>
      </div>
    </div>
    <div class="content">
      <img src="assets/images/testimonial2.png" alt="">
      <div class="text">
        <h5>Brave Balder</h5>
        <span>Student</span>
        <p>Consectetur adipisicing elit. Assumenda reprehenderit placeat deserunt esse</p>
      </div>
    </div>
    <div class="content">
      <img src="assets/images/testimonial3.png" alt="">
      <div class="text">
        <h5>John Doe</h5>
        <span>Teacher</span>
        <p>Consectetur adipisicing elit. Assumenda reprehenderit placeat deserunt esse</p>
      </div>
    </div>
  </div>
</div>
<!-- end testimonial -->
