<!-- slider -->
<div class="container">
  <div class="slide">
    <div class="slider-slide owl-carousel owl-theme">
      <div class="content">
        <div class="mask-red"></div>
        <img src="assets/images/slider1.jpg" alt="">
        <div class="slider-caption">
          <h2>WELCOME TO EDUGO</h2>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elite. Neque, iusto.</p>
        </div>
      </div>
      <div class="content">
        <div class="mask-blue"></div>
        <img src="assets/images/slider2.jpg" alt="">
        <div class="slider-caption">
          <h2>COMFORTABLE</h2>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elite. Neque, iusto.</p>
        </div>
      </div>
      <div class="content">
        <div class="mask-purple"></div>
        <img src="assets/images/slider3.jpg" alt="">
        <div class="slider-caption">
          <h2>LEARNING MORE FUN</h2>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elite. Neque, iusto.</p>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- end slider -->
