<!-- slider -->
<div class="container">
  <div class="slide">
    <div class="slider-slide owl-carousel owl-theme">
      <div class="content">
        <div class="mask-red"></div>
        <img src="assets/images/slider-uefa1.jpg" alt="slider 1">
        <div class="slider-caption">
          <h2>WELCOME TO <span class="logo-nav">EmployeeMS</span></h2>
          <p>Employee Management at your fingertips.</p>
        </div>
      </div>
      <div class="content">
        <div class="mask-blue"></div>
        <img src="assets/images/slider-epl1.jpg" alt="slider 2">
        <div class="slider-caption">
          <h2>INFORMATIVE</h2>
          <p>Employees information and data.</p>
        </div>
      </div>
      <div class="content">
        <div class="mask-purple"></div>
        <img src="assets/images/slider-uefa2.jpg" alt="slider 3">
        <div class="slider-caption">
          <h2>STAY CONNECTED</h2>
          <p>Comprehensive broadcast data coverage.</p>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- end slider -->
