<!-- footer -->
<footer>
  <div class="container">
    <div class="wrap-logo" *ngIf="showQuotes">
      <h3><img (click)="generateQuote()" src="assets/images/logo.png" class="logo-img-footer"
               alt="logo credits: https://www.freepik.com/free-photos-vectors/badge"/></h3>
    </div>
    <div class="wrap-desc" *ngIf="showQuotes">
      <p>{{quote}}</p>
    </div>
    <div class="wrap-social">
      <ul>
        <li><a href="{{env.social.facebook}}"><i class="fab fa-facebook-f"></i></a></li>
        <li><a href="{{env.social.instagram}}"><i class="fab fa-instagram"></i></a></li>
        <li><a href="{{env.social.twitter}}"><i class="fab fa-twitter"></i></a></li>
        <li><a href="{{env.social.youtube}}"><i class="fab fa-youtube"></i></a></li>
      </ul>
    </div>
    <div class="footer-text">
      <p>Copyright © {{date.getFullYear()}} All Right Reserved</p>
    </div>
  </div>
</footer>
<!-- end footer -->
