<div class="event segments-page">
  <div class="container">
    <div class="content" *ngFor="let team of listTeam.teams?.slice(begin, end); let i = index">
      <div class="image-frame hide-on-large-only"><img src="{{team.crestUrl ? (team.crestUrl | forceSsl) : 'assets/images/event1.jpg'}}" alt="{{team.shortName}}"></div>
      <div class="hide-on-med-and-down show-on-large">
        <div class="row">
          <div class="col s4 offset-s4">
            <img style="width: 100% !important;" src="{{team.crestUrl ? (team.crestUrl | forceSsl) : 'assets/images/event1.jpg'}}" alt="{{team.shortName}}">
          </div>
        </div>
      </div>
      <div class="text">
        <h4><a href="javascript:void(0)" (click)="navigate('/team/' + team.id)">{{team.name}}</a></h4>
        <p class="date valign-wrapper">
          <img class="flag-img" src="assets/images/flags/24px/{{getFlag(team.area.name)}}.png" alt="country flag"/>
          <span><i class="fas fa-ellipsis-v"></i></span><span><i class="fas fa-link"></i><a href="{{team.website}}" target="_blank">{{team.website}}</a></span>
          <!--<a href="javascript:void(0)"
          (click)="navigate('/team/byLeague/' + team.idLeague)">{{team.strLeague}}</a>--></p>
        <p><app-spinner [isActive]="teamDescs[i] | isEmpty"></app-spinner>{{truncate(teamDescs[i])}}</p>
      </div>
    </div>
    <div class="pagination">
      <li *ngFor="let page of pages" class="{{ page == currentPage + 1 ? 'disabled' : ''}}">
        <a href="javascript:void(0)" (click)="goToPage(page)"
           class="{{ page == currentPage + 1 ? 'active' : ''}}">{{ page }}</a></li>
    </div>
  </div>
</div>
