<!-- features -->
<div class="features segments">
  <div class="container">
    <div class="row">
      <div class="col s6">
        <div class="content" (click)="navigate('/employee')">
          <i class="fas fa-user bg-red"></i>
          <h5>Employees</h5>
        </div>
      </div>
      <div class="col s6">
        <div class="content" (click)="showAbout()">
          <i class="fas fa-info-circle bg-orange"></i>
          <h5>About</h5>
        </div>
      </div>
<!--      <div class="col s6">-->
<!--        <div class="content" (click)="navigate('/match')">-->
<!--          <i class="fas fa-globe-europe bg-purple"></i>-->
<!--          <h5>Matches</h5>-->
<!--        </div>-->
<!--      </div>-->
    </div>
<!--    <div class="row">-->
<!--      <div class="col s6">-->
<!--        <div class="content" (click)="navigate('/user')">-->
<!--          <i class="fas fa-users bg-blue"></i>-->
<!--          <h5>Teams</h5>-->
<!--        </div>-->
<!--      </div>-->
<!--    </div>-->
  </div>
</div>
<!-- end features -->

<app-about #about></app-about>
