<!-- features -->
<div class="features segments">
  <div class="container">
    <div class="row">
      <div class="col s6">
        <div class="content">
          <i class="fas fa-phone bg-red"></i>
          <h5>Support</h5>
        </div>
      </div>
      <div class="col s6">
        <div class="content">
          <i class="fas fa-globe-europe bg-purple"></i>
          <h5>Online</h5>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col s6">
        <div class="content">
          <i class="fas fa-check bg-blue"></i>
          <h5>Clean</h5>
        </div>
      </div>
      <div class="col s6">
        <div class="content">
          <i class="fas fa-sync-alt bg-orange"></i>
          <h5>Update</h5>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- end features -->
